/* * { */
    /* padding: 0; */
    /* margin: 0; */
/* } */

/* search part */
#searchForm {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 350px;
}

#header {
    margin-top: 30px;
}


#btnUserSearch {
    margin-left: 10px;
    padding: 3px;
}
#divSearchForm{
    height: 250px;
    text-align: center
}

/* famous users part */

.imgFamousUser {
    width: 200px;
    margin: 5px;
    margin-bottom: 1px;
}

.userCard {
    margin: 5px 0;
    background: gray;
    display: flex;
}
/*
.divSelebrityRepos {
    display: block;
    background: blue;
} */
/*
.divSelebrityAvatar {
    display: inline-block;
    background: red;
} */
/* 
.divSelebrityName {
    background-color: red;
} */